<!-- {{PROJECT_SECTION}} 
{{PROJECT_MODE}}-->

        </head>
<!-- {{PROJECT_MODE}}-->
<body>

@extern('header')   
@extern('menu') 
@extern('menucelular')  


<form method="POST">

    <div class="form-container">

        <h2>Queremos escucharte</h2>

        <form action="" method="">
    nombre completo:<input type="text" name="nombre_apellido" placeholder="Tu nombre y apellido"><br>
	telefono:<input type="text" name="telefono" placeholder="celular o telefono de linea"><br>
	email:<input type="text" name="email" placeholder="ingresa tu email"><br>
            
            mensaje:<textarea id="mensaje" name="mensaje" placeholder="Escribe tu mensaje aquí..."></textarea>

            <input type="submit" name="btn_mensaje">
        </form>
    </div>





@extern('footer')