<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Urbanagest</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="Urbanagest - Web">
	<meta name="description" content="{{PROJECT_DESCRIPTION}}">
	
	<meta name="author" content="{{PROJECT_AUTHOR}}">
	<meta name="reply-to" content="{{PROJECT_AUTHOR_CONTACT}}">
	<link rev="made" href="mailto:{{PROJECT_AUTHOR_CONTACT}}">
	<meta name="keywords" content="{{PROJECT_KEYWORDS}}">
	<meta name="Resource-type" content="Document">
	<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{PROJECT_WEB}}">
	<meta property="og:title" content="{{PROJECT_NAME}} - Web">
	<meta property="og:description" content="{{PROJECT_DESCRIPTION}}">
	<meta property="og:image" content="{{PROJECT_WEB}}/img/system/hero.png">
	
	<!-- Modo debug -->
	<!-- <link rel="stylesheet" href="views/static/css/styles.css?v=2929292229"> -->
	<!-- Modo release -->
	<!-- <link rel="stylesheet" href="views/static/css/styles.css"> -->



  <link rel="stylesheet" href="views/static/css/menu.css" />
  <link rel="stylesheet" href="views/static/css/slider.css">
  <link rel="stylesheet" href="views/static/css/material-icons.css" />
  <link rel="stylesheet" href="views/static/css/fawesome-all.css">

  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

        <link rel="stylesheet" href="css/material-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

       <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

  






