<!-- {{PROJECT_SECTION}} 
{{PROJECT_MODE}}-->

  <link rel="stylesheet" href="views/static/css/landign.css"/>
    </head>
<!-- {{PROJECT_MODE}} -->
<body>

@extern('header')



 <header>
    <nav class="barra">

      <a href="landing" class="logo">
        <img class="img" src="img/system/nuevo.jpg" alt="" />

      </a>
      <input id="Buscador" type="text" placeholder="Escribe algo..." autocomplete="off">

      <a href="login" class="icono">
        <i class="fa-thin fa-user"></i>

      </a>
      <button class="btn-trigger" onclick="DisplaySIdenav()">
        =



    </nav>

    <div class="abajo">
      <div class="botones">
        <button class="color-button">
          <a href="eventos">Eventos</a></button>
        <button class="color-button"><a href="">Tramites y Servicios</a></button>
        <button class="color-button"><a href="noticias">Noticias</a></button>
     <button class="color-button"><a href="panel">Mi Boleta</a></button>

      </div>
    </div>
</header>

<main class="scroll-y altura-max">
    <section class="cont_titulo">

      <div class="container-carousel">
        <div class="carruseles" id="slider">
          <section class="slider-section">
            <img src="img/system/URBANA (857 x 500 px) (1280 x 720 px) (1).png">
          </section>
          <a href="portal.html" class="slider-section">
            <img src="img/system/URBANA (857 x 500 px) (2).png">
          </a>
          <section class="slider-section">
            <img src="img/system/totuguitas.jpg">
          </section>
          <section class="slider-section">
            <img src="img/system/monoxido.jpg">
          </section>
        </div>
        <div class="btn-left"><i class='bx bx-chevron-left'></i></div>
        <div class="btn-right"><i class='bx bx-chevron-right'></i></div>
      </div>




    </section>

    <section class="tablon" id="contenido">
  <!-- Publicidad en la tarjeta mas -->

  <div class="mas">
  
  </div>

  <!-- Novedades -->
  <div class="novedad">
    <!-- Aquí se insertarán las novedades dinámicamente -->
  </div>
</section>

  <section class="agenda">


      <li class="events__item">
        <div class="events__item--left">
          <span class="events__name">Jóvenes Emprendedores</span>
          <span class="events__date">
            <i class="fa-light fa-clock" style="color: #FFD43B;"></i>
            10:00 a 15:00</span>
          <a class="leermas" href="#">Leer mas</a>
        </div>
        <span class="events__tag">Oct
          <span>5</span>
        </span>

      </li>

      <li class="events__item">
        <div class="events__item--left">
          <span class="events__name">Jóvenes Emprendedores</span>
          <span class="events__date">
            <i class="fa-light fa-clock" style="color: #FFD43B;"></i>
            10:00 a 15:00</span>
          <a class="leermas" href="#">Leer mas</a>
        </div>
        <span class="events__tag">Oct
          <span>5</span>
        </span>

      </li>

      <li class="events__item">
        <div class="events__item--left">
          <span class="events__name">Jóvenes Emprendedores</span>
          <span class="events__date">
            <i class="fa-light fa-clock" style="color: #FFD43B;"></i>
            10:00 a 15:00</span>
          <a class="leermas" href="#">Leer mas</a>
        </div>
        <span class="events__tag">Oct
          <span>5</span>
        </span>

      </li>

    </section>
    
    <section class="contenedor_autogestion">
      <div class="containe">
        <div class="text-section">
          <h1><i class="fa-sharp-duotone fa-solid fa-badge-check"></i> Autogestión</h1>
         
          <button class="butto">Pagos online.</button>
          <button class="butto">Licencias de conducir</button>
          <button class="butto">Inserción laboral</button>
        </div>
        <div class="image-section">
          <div class="Logo_gestion">
            <img class="img" src="imagenes/UrbanaGest (3).png" alt="Personas interactuando">
          </div>
          
          <p>Ahora podés realizar tus trámites más rápido. Iniciá tus trámites fácilmente desde tu celular o computadora y
            ahorrá tiempo.</p>
        </div>
      </div>
    </section>

    

    <section>
      <div class="portal-img">
        <div class="por">
          <img class="img" src="img/system/portalnuevo.png" alt="">
          <div class="pa-btn">
            <button class="button">
              <a href="portal.html">Accede al portal de pagos</a>
            </button>
          </div>
        </div>
      </div>
    </section>
    <section class="consultas">
      <div class="titulo_consulta">
        <div class="contenedor_consulta">
          CONSULTAS FRECUENTES

        </div>
      </div>
      <div class="contenedor-pre">
        <a href="turnosdni"class="preguntas">
          Turno DNI
        </a>
        <a class="preguntas2">
          Turno salud

        </a>
        <a href="contacto" class="preguntas3">
          Hacer mi reclamo

        </a>

      </div>


    </section>
    <div class="conducir">
      <div class="contenedor-imagen">
        <img class="img" src="img/system/20191212140316-seguridad-vial-auto.jpg" alt="">
      </div>
    </div>

    <footer>
      <div class="tres">
        <div class="tit">
          <div class="letra">
            <h3>SOBRE NOSOTROS</h3>
          </div>

        </div>
        <div class="contenedor-nosotros">
          <div class="urbana">
            URBANAGEST
          </div>
          <div class="nosotros">
            La Gestion de UrbanaGest se encuentra en la Provincia de Buenos Aires, Argentina
          </div>
        </div>

      </div>
      <div class="tres">
        <div class="tit">
          <div class="letra">
            <h3>CONTACTANOS</h3>

          </div>
        </div>
        <div class="contenedor-cuadrado">
          <div class="lugar">
            <div class="iconos">
              <i class="fa-solid fa-location-dot fa-xl"></i>
            </div>
            La habana 616

          </div>
          <div class="lugar">
            <div class="iconos">
              <i class="fa-solid fa-x fa-xl"></i>
            </div>
            Twitter
          </div>
          <div class="lugar">
            <div class="iconos">
              <i class="fa-brands fa-instagram"></i>
            </div>
            Instagram

          </div>
          <div class="lugar">
            <div class="iconos">
              <span class="material-symbols-outlined calen">
                warning
              </span>
            </div>
            Para informar un error comuniquese a soporte web
          </div>

        </div>
      </div>
      <div class="tres">
        <div class="tit">
          <div class="letra">
            <h3>TELEFONOS UTILES</h3>
          </div>
        </div>
        <div class="contenedor-telefono">
          <div class="mitad">
            <div class="telefono">
              <span class="material-symbols-outlined">fire_truck</span>
              <div class="info_tel"> 100 <br> bomberos</div>

            </div>
            <div class="telefono">
              <span class="material-symbols-outlined">emergency</span>
              <div class="info_tel"> 103-107<br> emergency </div>

            </div>
          </div>
          <div class="mitad">
            <div class="telefono">
              <span class="material-symbols-outlined">local_police</span>
              <div class="info_tel">911<br> police</div>
            </div>
            <div class="telefono">
              <span class="material-symbols-outlined">sos</span>
              <div class="info_tel"> 147<br> ayuda al vecino</div>

            </div>
          </div>
        </div>


      </div>
    </footer>

  </main>


	
				
				
	
<script src="views/js/script.js"></script>
  <script src="views/js/buscador.js"></script>

 <script>

    let sidenavMenu = document.querySelector('#sidenav')

    function DisplaySIdenav() {
      sidenavMenu.classList.add('mostrar')
    }
    function ocultarSidenav() {
      sidenavMenu.classList.remove('mostrar')
    }

  </script>


	<script type="text/javascript">

landingnoticias().then((data) => {
    console.log(data);

    // Seleccionamos los elementos donde vamos a colocar la publicidad y las novedades
    const tarjetaPublicidad = document.querySelector('.mas');
    const tarjetaNovedades = document.querySelector('.novedad');

    // Tomamos los últimos 5 elementos
    const ultimos5 = data.slice(-4);

    // Publicidad: colocamos el primer elemento como publicidad
    const publicidad = ultimos5[0];
    tarjetaPublicidad.innerHTML = `
      <a href="noticias" class="info sombra">
        <div class="imge">
          <img class="img" src="${publicidad.imagen}" alt="">
        </div>
        <div class="novedad_texto">
          <div class="novedad_titulo">${publicidad.titulo}</div>
          <a href="noticias" class="novedad_leer">Leer mas</a>
        </div>
      </a>
    `;

    // Novedades: mostramos los 4 restantes
    const novedades = ultimos5.slice(1);
    novedades.forEach((e) => {
        tarjetaNovedades.innerHTML += `
        <div class="carta_novedad sombra">
          <div class="foto">
            <img class="img" src="${e.imagen}" alt="" />
          </div>
          <div class="novedad_texto">
            <div class="novedad_titulo">${e.titulo}</div>
            <div class="novedad_info">${e.informacion}</div>
            <div class="novedad_leer">Leer mas</div>
          </div>
        </div>
        `;
    });
});


		   async function landingnoticias() {
        try {
            const response = await fetch("https://urbanagest.tecnica3.com.ar/api/users/landingnoticias/");
            if (!response.ok) throw new Error("Error en la consulta a la API");
            return await response.json();
        } catch (error) {
            console.error("Error obteniendo los datos:", error);
            return [];
        }
    }


	</script>

     

@extern('footer')