
 <header>
    <nav class="barra">

      <a href="landing" class="logo">
        <img class="img" src="img/system/nuevo.jpg" alt="" />

      </a>
      <input id="Buscador" type="text" placeholder="Escribe algo..." autocomplete="off">

      <a href="login" class="icono">
        <i class="fa-thin fa-user"></i>

      </a>
      <button class="btn-trigger" onclick="DisplaySIdenav()">
        =



    </nav>

    <div class="abajo">
      <div class="botones">
        <button class="color-button">
          <a href="eventos">Eventos</a></button>
        <button class="color-button"><a href="">Tramites y Servicios</a></button>
        <button class="color-button"><a href="noticias">Noticias</a></button>
     <button class="color-button"><a href="panel">Mi Boleta</a></button>

      </div>
    </div>
</header>