
    <div id="sidenav">
    <div class="contenedor-btn"><button class="btn-cerrar" onclick="ocultarSidenav()">X</button></div>

    <li class="li"><a href="login/login.html">Registrarse</a></li>
    <li class="li"><a href="login/register.html">Iniciar sesión</a></li>

    <li class="li"><a href="eventos.html">Eventos</a></li>
    <li class="li"><a href="tramites.html">Tramites y Servicios</a></li>
    <li class="li"><a href="municipio.html">municipio</a></li>
    <li class="li"><a href="portal.html">Mi Boleta</a></li>
    <div class="usuario">
      <a href="login/register.html" class="iconoss">
        <i class="fa-thin fa-user"></i>
      </a>
    </div>
  </div>