<!-- {{PROJECT_SECTION}} 
{{PROJECT_MODE}}-->
<link rel="stylesheet" type="text/css" href="views/static/css/register.css">
    </head>
<!-- {{PROJECT_MODE}} -->
<body>

@extern('header')

			<!-- 		<h1>Registrarse es simple</h1>

					<form action="" method="POST">
						
						<div id="error_msg">{{MSG_ERROR}}</div>

						<input type="email" name="txt_email" placeholder="email" required>
						<input type="password" name="txt_contraseña" placeholder="contraseña" required>
						<input type="submit" name="btn__register" value="Unirme">
					</form> -->


					 <div class="contenedor">
        <section  class="izquierda img">
            <div class="imagen">
                <img src="/img/system/UrbanaGest (1).png" alt="">
            </div>
            
        </section>
        <section class="derecha">
            <div class="containern">
              <!-- <div class="img_logo">
                <img class="img" src="img/UrbanaGest (3).png" alt="">
              </div> -->
              
            <div id="error_msg">{{MSG_ERROR}}</div>


                <form id="form1" method="POST">
                  <h3>Registrarse</h3>
                  <input type="email" name="txt_email" placeholder="email" required>
                  <input type="password" name="txt_contraseña" placeholder="contraseña" required>
                  
      
                   <div class="btn_box">
                    <input type="submit" name="btn__register" value="Unirme">
                    <a href="login">¿Ya tienes cuenta?</a>
                  </div>
                </form>
             
            
               
              </div>


        </section>

    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		
	@extern('footer')


